/* SpaceMono Regular */
@font-face {
  font-family: 'space mono';
  src: url('../fonts/spacemono-regular-webfont.woff2') format('woff2'),
       url('../fonts/spacemono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* SpaceMono BoldItalic */
@font-face {
  font-family: 'space mono';
  src: url('../fonts/spacemono-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/spacemono-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* SpaceMono Italic */
@font-face {
  font-family: 'space mono';
  src: url('../fonts/spacemono-italic-webfont.woff2') format('woff2'),
       url('../fonts/spacemono-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Poppins Light */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
       url('../fonts/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
       url('../fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Colors
$color-primary: #000;
$color-secondary:  #313144;
$color-text: #000;
$color-accent: #E00000;
$color-bg-header: #fff;
$color-bg-page: #fff;
$color-bg-btn: #D8D8D8;
$color-outline: #B8BBC2;

// Fonts
$font-primary: 'Space Mono';
$font-secondary: Poppins;

// Hamburger (menu)
$hamburger-bg: transparent;
$hamburger-color: black;
$hamburger-lines-width: 27px;
$hamburger-lines-thickness: 1px;
$hamburger-duration: 0.5s;

// Container
$container: 1148px;

// Modal box
$modal-box-width: 597px;
$modal-box-height: 769px;

// Breakpoints
$breakpoint-laptop: 1100px; // laptop
$breakpoint-tablet-landscape: 943px; // Tablet landscape
$breakpoint-tablet-portrait: 868px; // Tablet portrait
$breakpoint-mobile: 600px; // Mobile

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'space mono', sans-serif;
  }
  
  li {
    list-style: none;
  }
  body {
    font-family: $font-primary;
    font-size: 16px;
    background-color: $color-bg-page;
    border: 2px solid red;
  }
  h1 {
      font-size: 24px;
  }
  h2, h3, h4, h5, h6 {margin: 0; line-height: 1;}
  a {
    text-decoration: none;
    color: inherit;
  }