.header-hero {
    position: relative;
        background: url(../images/img-hero.webp) center/cover;
        width: 100vw;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .image-hero {
        position: absolute;
        max-width: 90%;
     }
}
